:root {
    --azul: #01004f;
    --amarillo: #f3ce00;
    --cielo: #00ADF3;
}

@font-face {
    font-family: "Ancizar";
    src: url("./assets/fonts/ancizar/Ancizar_Sans/AncizarSans-Regular.otf") format("opentype");
}

* {
    font-family: "Ancizar";
}

p,
a,
li {
    font-size: 1.1rem;
}

.flex1-esc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sonflex-esc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.sonflex-esc button {
    background: unset;
    border: unset;
    width: 100px;
}

.sonflex-esc button img {
    width: 100%;
}

.img-tit-esc {
    max-width: 460px;
    width: 100%;
}

.contenedor-inicio {
    background-color: var(--azul);
    padding: 2rem 2rem 2rem;
}

.img-mosaico {
    display: flex;
    justify-content: center;
}

.img-mosaico img {
    width: 100%;
    max-width: 650px;
    margin-bottom: 2rem;
}

.flex2-esc {
    align-items: flex-end;
}

.sonflex2-esc {
    display: flex;
    flex-direction: column;
}

.sonflex2-esc p {
    color: #ffffff;
    border-left: 2px solid #ffce00;
    padding-left: 1rem;
}

.btn-descargar {
    width: 100%;
    max-width: 300px;
    margin-bottom: 4rem;
}


@media (max-width: 767.98px) {
    .flex2-esc {
        flex-direction: column-reverse;
    }

    .sonflex-esc {
        margin: 2rem auto;
        flex-direction: row;
    }

    .img-mosaico img {
        margin-bottom: 3rem;
    }
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--azul);
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 1rem;
    padding: 0rem 0rem 2rem;
}

.contenedor-botones button {
    transition: all .3s ease-in-out;
    border: unset;
    background: unset;
}

.contenedor-botones button:nth-child(1),
.contenedor-botones button:nth-child(2),
.contenedor-botones button:nth-child(3),
.contenedor-botones button:nth-child(4) {
    width: 210px;
}

.contenedor-botones button:nth-child(5) {
    width: 260px;
}

.contenedor-botones button img {
    width: 100%;
}

.contenedor-botones button:not(.collapsed) {
    border-bottom: 5px solid #00adf3;
    border-radius: 10px;
}

.contenedor-botones button:hover {
    transform: translateY(10px);
    text-decoration: none;
}

#temas-collapse .card {
    border: none;
    padding: 0rem;
    border-radius: unset;
    background-color: unset;
}

#temas-collapse .card.collapsing {
    opacity: 0;
    transition: none;
}

#temas-collapse .card.collapse.show {
    animation-name: transparencia;
    animation-duration: 1s;
}

@keyframes transparencia {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fondo-azul {
    background-color: var(--azul);
}

.fondo-cielo {
    background-color: var(--cielo);
    padding: 3rem 0;
    color: #ffffff;
}

.fondo-blanco {
    background-color: #ffffff;
    padding: 3rem 0;
}

.fondo-amarillo {
    background-color: var(--amarillo);
    padding: 3rem 0;
}

.flex-audio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.flex-audio img {
    width: 120px;
}

.subtit-azul {
    color: var(--azul);
}

.img-1100 {
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto;
    display: block;
}

.esc1 {
    position: relative;
}

.esc1 button,
.esc1 a {
    position: absolute;
    border: unset;
    background: unset;
    filter: drop-shadow(2px 3px 6px black);
    animation-name: animacion-iconos;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.esc1 button {
    width: 4.7%;
    border: unset;
    background: unset;
    min-width: 23px;
}

.esc1 a {
    width: 3.9%;
}

.esc1 button img,
.esc1 a img {
    width: 100%;
    transition: all 0.5s;
}

.esc1 button img:hover,
.esc1 a img:hover {
    filter: grayscale(1);
}

#esc1-btn1 {
    top: 24.6%;
    left: 35.7%;
}

#esc1-btn2 {
    top: 68.1%;
    left: 31.9%;
}

#esc1-btn3 {
    top: 76.6%;
    left: 31.9%;
}

#esc1-btn4 {
    top: 86.1%;
    left: 31.9%;
}

#esc1-btn5 {
    top: 24.6%;
    left: 83.2%;
}


@media (max-width: 425px) {
    .contenedor-botones {
        position: unset;
    }
}

@keyframes animacion-iconos {
    from {
        transform: scale(1);
    }

    10% {
        transform: scale(0.85);
    }

    20% {
        transform: scale(1);
    }

    35% {
        transform: scale(0.85);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}

.contenedor-iframe {
    max-width: 600px;
    width: 100%;
    min-width: 200px;
    padding-bottom: 10px;
}

.contenedor-iframe--center {
    margin: auto;
}

.iframe-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 15px;
}

.iframe-responsive iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modales-pagina .modal-header {
    background-color: var(--amarillo);
    color: var(--azul);
}

.modales-pagina .modal-header h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.modal-body .subtit-azul {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.btn-actividad {
    transition: all 0.5s;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    display: block;
    filter: drop-shadow(2px 4px 6px black);
}

.btn-actividad:hover {
    transform: scale(0.97);
}

.btn-actividad img {
    width: 100%;
}