:root {
    --azul: #01004f;
    --amarillo: #f3ce00;
    --cielo: #00ADF3;
}

@font-face {
    font-family: "Ancizar";
    src: url("./assets/fonts/ancizar/Ancizar_Sans/AncizarSans-Regular.otf") format("opentype");
}

* {
    font-family: "Ancizar";
}

p,
a,
li {
    font-size: 1.1rem;
}

.flex1-esc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sonflex-esc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.sonflex-esc button {
    background: unset;
    border: unset;
    width: 100px;
    transition: all 0.5s;
}

.sonflex-esc button img {
    width: 100%;
}

.img-tit-esc {
    max-width: 460px;
    width: 100%;
}

.contenedor-inicio {
    background-color: var(--azul);
    padding: 2rem 2rem 2rem;
}

.img-mosaico {
    display: flex;
    justify-content: center;
}

.img-mosaico img {
    width: 100%;
    max-width: 650px;
    margin-bottom: 2rem;
}

.flex2-esc {
    align-items: flex-end;
}

.sonflex2-esc {
    display: flex;
    flex-direction: column;
}

.sonflex2-esc p {
    color: #ffffff;
    border-left: 2px solid #ffce00;
    padding-left: 1rem;
}

.btn-descargar {
    width: 100%;
    max-width: 300px;
    margin-bottom: 4rem;
    transition: all 0.5s;
}

.btn-descargar:hover {
    transform: scale(0.9);
}



@media (max-width: 767.98px) {
    .flex2-esc {
        flex-direction: column-reverse;
    }

    .sonflex-esc {
        margin: 3rem auto;
        flex-direction: row;
    }

    .img-mosaico img {
        margin-bottom: 3rem;
    }
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--azul);
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 1rem;
    padding: 0rem 0rem 2rem;
}

.contenedor-botones button {
    transition: all .3s ease-in-out;
    border: unset;
    background: unset;
}

.contenedor-botones button:nth-child(1),
.contenedor-botones button:nth-child(2),
.contenedor-botones button:nth-child(3),
.contenedor-botones button:nth-child(4) {
    width: 210px;
}

.contenedor-botones button:nth-child(5) {
    width: 260px;
}

.contenedor-botones button img {
    width: 100%;
}

.contenedor-botones button:not(.collapsed) {
    border-bottom: 5px solid #00adf3;
    border-radius: 10px;
}

.contenedor-botones button:hover {
    transform: translateY(10px);
    text-decoration: none;
}

#temas-collapse .card {
    border: none;
    padding: 0rem;
    border-radius: unset;
    background-color: unset;
}

#temas-collapse .card.collapsing {
    opacity: 0;
    transition: none;
}

#temas-collapse .card.collapse.show {
    animation-name: transparencia;
    animation-duration: 1s;
}

@keyframes transparencia {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fondo-azul {
    background-color: var(--azul);
}

.fondo-cielo {
    background-color: var(--cielo);
    padding: 3rem 0;
    color: #ffffff;
}

.fondo-blanco {
    background-color: #ffffff;
    padding: 3rem 0;
}

.fondo-amarillo {
    background-color: var(--amarillo);
    padding: 3rem 0;
}

.flex-audio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.flex-audio img {
    width: 120px;
}

.subtit-azul {
    color: var(--azul);
}

.img-1100 {
    width: 100%;
    max-width: 1100px;
    margin: 2rem auto;
    display: block;
}

.img-900 {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    display: block;
}

.esc {
    position: relative;
}

.esc button,
.esc a {
    position: absolute;
    border: unset;
    background: unset;
    filter: drop-shadow(2px 3px 6px black);
    animation-name: animacion-iconos;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.esc button {
    width: 4.7%;
    border: unset;
    background: unset;
    min-width: 23px;
}

.esc button img,
.esc a img {
    width: 100%;
    transition: all 0.5s;
}

.esc button img:hover,
.esc a img:hover {
    filter: grayscale(1);
}


#esc1-btn1 {
    top: 24.6%;
    left: 35.7%;
    width: 3.8%;
}

#esc1-btn2 {
    top: 68.1%;
    left: 31.9%;
    width: 4.7%;
}

#esc1-btn3 {
    top: 76.6%;
    left: 31.9%;
    width: 4.7%;
}

#esc1-btn4 {
    top: 86.1%;
    left: 31.9%;
    width: 4.7%;
}

#esc1-btn5 {
    top: 24.6%;
    left: 83.2%;
    width: 4.7%;
}


#esc2-btn1 {
    top: 30.6%;
    left: 20.8%;
    width: 3.8%;
}

#esc2-btn2 {
    top: 78.7%;
    left: 49.9%;
    width: 4.7%;
}

#esc2-btn3 {
    top: 87.9%;
    left: 38.9%;
    width: 3.8%;
}



#esc3-btn1 {
    top: 18.9%;
    left: 31.7%;
    width: 3.8%;
}

#esc3-btn2 {
    top: 77.4%;
    left: 15.9%;
    width: 3.8%;
}

#esc3-btn3 {
    top: 77.4%;
    left: 39.5%;
    width: 3.8%;
}

#esc3-btn4 {
    top: 26.3%;
    left: 95.6%;
    width: 3.8%;
}

#esc3-btn5 {
    top: 42.1%;
    left: 95.6%;
    width: 3.8%;
}

#esc3-btn6 {
    top: 38.8%;
    left: 73%;
    width: 3.8%;
}

#esc3-btn7 {
    top: 58.5%;
    left: 15.9%;
    width: 3.8%;
}

#esc3-btn8 {
    top: 69.6%;
    left: 73%;
    width: 4.7%;
}



#esc4-btn1 {
    top: 50%;
    left: 55.7%;
    width: 3.7%;
}

#esc4-btn2 {
    top: 50%;
    left: 71.6%;
    width: 3.7%;
}

#esc4-btn3 {
    top: 63.6%;
    left: 55.7%;
    width: 3.7%;
}

#esc4-btn4 {
    top: 34.4%;
    left: 97.3%;
    width: 4.7%;
}

#esc4-btn5 {
    top: 43.6%;
    left: 89.2%;
    width: 4.7%;
}

#esc4-btn6 {
    top: 58.6%;
    left: 89.2%;
    width: 4.7%;
}

#esc4-btn7 {
    top: 88%;
    left: 47.6%;
    width: 4%;
}

#esc4-btn8 {
    top: 24.9%;
    left: 89.7%;
    width: 3.7%;
}

.flex-botonera-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.flex-botonera-modal a {
    background-color: var(--cielo);
    color: #ffffff;
    text-decoration: unset;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    width: 300px;
    text-align: center;
    transition: all 0.5s;
}

.flex-botonera-modal a:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(0.95);
}


@media (max-width: 425px) {
    .contenedor-botones {
        position: unset;
    }
}

@keyframes animacion-iconos {
    from {
        transform: scale(1);
    }

    10% {
        transform: scale(0.8);
    }

    20% {
        transform: scale(1);
    }

    35% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}

.contenedor-iframe {
    max-width: 600px;
    width: 100%;
    min-width: 200px;
    padding-bottom: 10px;
}

.contenedor-iframe--center {
    margin: auto;
}

.iframe-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 15px;
}

.iframe-responsive iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modales-pagina .modal-header {
    background-color: var(--amarillo);
    color: var(--azul);
}

.modales-pagina .modal-header h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.modal-body .subtit-azul {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.btn-actividad {
    transition: all 0.5s;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    display: block;
    filter: drop-shadow(2px 4px 6px black);
}

.btn-actividad:hover {
    transform: scale(0.97);
}

.btn-actividad img {
    width: 100%;
}

.autor-video {
    background-color: #030479;
    color: #ffffff;
    margin: 1rem 1rem 3rem;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.flex-videos{
        justify-content: center;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 108%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--amarillo);
    color: var(--azul);
    content: attr(data-tooltip);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 108%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--amarillo);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.modal-creditos .modal-header{
    border-bottom: unset;
}

.modal-creditos .modal-footer{
    border-top: unset;
}

.modal-creditos .modal-body{
    color: var(--azul);
}