@font-face {
    font-family: "Ancizar";
    src: url("./assets/fonts/ancizar/Ancizar_Sans/AncizarSans-Regular.otf") format("opentype");
}

* {
    font-family: "Ancizar";
}

p,
li,
a {
    font-size: 1.1rem;
}

.img-800 {
    width: 95%;
    max-width: 650px;
    margin: auto;
    display: block;
}

.img-400 {
    width: 95%;
    max-width: 400px;
    margin: auto;
    display: block;
}

.float-l img {
    float: left;
    width: 200px;
}

.float-l2 img {
    float: left;
    width: 300px;
    clear: both;
}

.btn-caja {
    width: 400px;
    display: block;
    margin: 2rem auto;
    transition: all 0.5s;
}

/* Escenario */
.contenedor-esc {
    width: 65%;
    margin: auto;
    display: block;
}

.esc-3 {
    position: relative;
    margin-top: 10rem;
}

.esc-3 button {
    position: absolute;
    width: 27%;
    transition: all 0.5s;
    animation-name: animacion-iconos;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.esc-3 #btn-mod-1 {
    left: 26%;
    top: -26%;
}

.esc-3 #btn-mod-2 {
    left: 60%;
    top: -26%;
}

.esc-3 #btn-mod-3 {
    left: 26%;
    top: 30%;
}

.esc-3 #btn-mod-4 {
    left: 60%;
    top: 30%;
}

.esc-3 button:hover,
.btn-caja:hover {
    filter: drop-shadow(2px 4px 6px #222222);
}

@keyframes animacion-iconos {
    from {
        transform: scale(1);
    }

    10% {
        transform: scale(0.95);
    }

    20% {
        transform: scale(1);
    }

    35% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}

/* Acordeon */
.accordion-button {
    background-color: #00adf3 !important;
    font-size: 1.5rem !important;
    font-weight: bold;
    font-style: italic;
    color: #ffffff !important;
    transition: all 0.5s;
}

.accordion-button:hover {
    background-color: #0095cf !important;
}


/*---- Navegación ----*/
.flex-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.flex-nav a {
    width: 70px;
    margin: 10px;
    text-decoration: unset;
    text-align: center;
    color: black;
    font-weight: 500;
    transition: all 0.5s;
}

.flex-nav a img {
    width: 100%;
}

.ant:hover {
    transform: translateX(-20px);
    filter: brightness(1.3);
}

.inicio:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.sig:hover {
    transform: translateX(20px);
    filter: brightness(1.3);
}

.der {
    justify-content: flex-end !important;
}

/* Menú */
.btn-flot {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 90px;
    background-color: #00004a;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s;
}

.btn-flot:hover {
    filter: brightness(1.2) drop-shadow(2px 4px 1px rgb(137, 137, 137));
}

.offcanvas-body p a {
    text-decoration: unset;
    color: unset;
    text-align: left;
}

.offcanvas-title {
    color: #00004a;
}